@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #1a1a1a;
  }
}

@font-face {
  font-family: 'Messina Sans';
  src: url('/fonts/MessinaSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  letter-spacing: -0.06rem; /* Approx. -5% */
  font-family: 'Messina Sans', serif;
  font-weight: 400;
}

@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    animation: marquee 25s linear infinite;
  }
}

